<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <title>Моё приложение</title>
</head>
<body>
    <div class="container">
    {% if session['user_id']  %}
    <h1>Добро пожаловать, {{ username }} </h1>
    <a href="/logout">Выйти</a>
{% else %}
    <h1>Пожалуйста войдите</h1>
    <a href="/login">Войти</a>
    <a href="/register">Зарегистрироваться</a>
{% endif %}
{% if session.pop('just_logged_in', False) %}
<script>
var duration = 5 * 1000;
var end = Date.now() + duration;

(function frame() {
    confetti({ particleCount: 3, angle: 60, spread: 55, origin: { x: 0 } });
    confetti({ particleCount: 3, angle: 120, spread: 55, origin: { x: 1 } });
    if (Date.now() < end) requestAnimationFrame(frame);
})();
</script>


{% endif %}


</div>
</body>
</html>