<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Регистрация</title>
</head>
<body>
    <div class="container">
        <h2>2FA App</h2>
        <div class="card">
            <a href="/" class="home-btn">🏠</a>
            {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
            {% endfor %}
            <h1>Регистрация</h1>
            <form action='/register' method=POST>
                <input type="text" placeholder="Введите Логин" name="username">
                <input type="password" placeholder="Введите пароль" name="password" autocomplete="off">
                <select name="auth_method">
                    <option value="totp">Google Authenticator</option>
                    <option value="email">Email</option>
                </select>
                <input type="email" placeholder="Email (если выбрали Email)" name="email">
                <button>Зарегистрироваться</button>
            </form>
            <p>Уже есть аккаунт? <a href="/login">Войти</a></p>
        </div>
    </div>
</body>
</html>