<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
    <title>Настройка 2FA</title>
</head>
<body>
    <div class="container">
        <h2>2FA App</h2>
        <div class="card">
            <a href="/" class="home-btn">🏠 </a>
        <h1>Настройка 2FA</h1>
        <img src="/static/qrcode.png" alt="" width="300">
        <a href="/login">Я отсканировал код</a>
        </div>
    </div>
</body>
</html>